body
{
    background-image: url(img/background.jpg);
    background-size: cover;
}

p {
    color: white;
}
#titre {
color: white;
}
h2 {
    color: white;
}
header.ui.menu
{
    background-image: url(img/background.jpg);
    background-size: cover;
}
#titre2
{
    color: white;
}
